################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/TradingBot
/Core/bin
/Core/obj
/Core.Tests
/TradingBot.sln
